@media (min-width: 768px) {
		article {
			#nextra-skip-nav {
				margin-top: 30px;
			}
			main {
				> h1:not(.inline) {
					max-width: 70%;
					font-size: 3em;
				}
			}
		}

		.nextra-toc {
			margin-top: 64px;
		}

		aside.nextra-sidebar {
			padding-top: 64px;
		}
}