@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=DD3F7199-8870-4EF5-84DE-5D06B67AC95F
@fundingbox:registry=http://npm.fundingbox.com:4873/
//npm.fundingbox.com:4873/:_authToken="qBSYtXW2BXfyj7FB9n+q2gR+Vbal8qnI5Oc/AAm3Kio="
@passwordless-id:registry=http://npm.fundingbox.com:4873/
//npm.fundingbox.com:4873/:_authToken="qBSYtXW2BXfyj7FB9n+q2gR+Vbal8qnI5Oc/AAm3Kio="
always-auth=true
enable-pre-post-scripts=true
