---
id: verification
title: Getting verified
sidebar_label: 'Request verification'
sidebar_position: 5
tags:
  - Business identity
  - Digital identity
  - Identity verification
  - KYC
  - Verifiable credentials
  - Storing credentials
  - Digital wallet
  - Presenting credentials
  - KYB
  - Venture readiness momentum
---


OnePass Bridge Pilot is creating a trust framework connecting investable startups with investors in order to enable cross-border investment. In this framework, a basic layer of trust is relying on Verifiable Credentials issued as a result of a verification flow for each of the parties involved. A verification flow is a sequence of steps that a company has to take to obtain a credential or a set of credentials. This flow is initiated when a verification request is sent by or to an applicant and is completed when all verification checks have been performed and the credential issued.

In OnePass Bridge, there are different verification levels and checks:

* the verification of the email,
* the verification of the domains controlled by your business, and
* the verification of your business identity.

At a very basic level, you can verify the e-mail nd domains controlled by your organization on OnePass Bridge. These 2 verifications are simple and automatic, so they will happen almost in real time.

You can also establish your company's authenticity by completing the KYB (Know Your Business) process. This verification will help you gain trust and confidence of investors by recognizing your business as legitimate and transparent. For this check, a human verification must be done before issuing a verifiable credential and, hence, they complete proccess might take some days. The business data verification is available for free only to a limited number of invited companies at this moment.

In the mid-term, the verification of other company information that could enable the investor to make an investment decision (such as size and turnover of the company and additional information around the company venture readiness momentum) will also be introduced.

## eMail verification

eMail verification should be launched when you sign up to OnePass Bridge but, if your email is not verified yet, follow this steps:

* click on your workspace name (upper right corner),
* select "Workspace settings" from the options that appear,
* go to the "Verifications" option in the left side menu,
* in the section "Company email address verification" click the "Resend" button,
* include the email you want to verify and click the send button and,
* when you receive the verification message in your invoice, click the link included to confirm.
  
  A "check" icon and a message indicating that you email is verified should show in this section.

## Domain verification  

To verify a domain linked to your organization:

* click on your workspace name (upper right corner),
* select "Workspace settings" from the options that appear,
* go to the "Verfiications" option in the left side menu,
* in the section "Company domain names verification", click the button "Add a domain",
* add text including the name of the domain, text as type and a value (e.g.: Name: _acme-challenge.com Type: TXT Value: "onepass-443eda0b65c1b51da29bc6a8") and click ok
* click the black "Verify" button on the right.

  A "check" icon and the word "Verified" below the headline "Actions" should appear in this section once the verification is complete.

## Business identity verification

If this is the first time that you obtain a verifiable credential, the process might seem a bit confusing for you, but it will really take only **4 steps**:

1. **request the verification** of your business identity,
2. download and sign in to a interoperable **wallet**,
3. **get your credential** when you receive the message informing that it has been issued for you, and
4. **present your credential**.

The "Vertified" Badge will appear in your company profile once the process is complete.

### Request verification

To request the verification of your business identity:

* click on your workspace name (upper right corner),
* select "Workspace settings" from the options that appear,
* go to the "Verifications" option in the left side menu,
* in the section "Business identity verification", click the "Request verification" black button,
* select the organization (the issuer) which will verify your company identity and click ok.

You will be redirected to a "Know Your Business" form. Provide the information requested and wait for the issuer team to undertake the verification and issue the credential.

### Download your wallet

While you wait for your credential to be issued, you can register to a compatible wallet (you will need it to download your credential once ready). At this point, the wallets that are interoperable with OnePass Brige are the ones by [Talao](https://talao.io/talao-wallet/) and by [Walt.id](https://wallet.walt.id/). We suggest using the Talao's one as it might be a bit easier to operate (as it's non-custodial and mobile-based)

* search for the "Talao" wallet in the app search in your mobile (AppStore or Google Play) and install the app,
* click the "Create a digital wallet" button,
* select your authentication method and read and accept the terms and conditions,
* click the "Start" button,
* go to the "Settings" tab of your wallet, and
* click the "Wallet profiles" and choose the option "European Blockchain Services Infrastructure (EBSI v4.0).

:::info
Take into account that, if you rather decide to use the Walt.id wallet (which is custodial and web-based), you will need to install a direct access link to your wallet in the main screen of your phone.
:::

### Get your business identity credential

You will receive a message once your business identity check is complete and your credential issued. The message should contain a link to download your credential and a pin. Here's how it works:

* click on the link to download your credential,
* type your pin,
* open your wallet in your mobile phone and scan the QR code.

:::info
In the case of Walt.id wallet, you will need to copy the link of the credential shown in the screen after typing your pin code and paste it in your wallet to present it.
:::

### Present your credential

Now, your verifiable credential is stored in your wallet and you just need to present it in OnePass Bridge to be verified.

* click on your workspace name (upper right corner),
* select "Workspace setting" from the options that appear,
* go to the "Verifications" option in the left side menu,
* in the section "Business identity verification", click the "Present credential" yellow button,
* open your wallet in your mobile phone and
* scan the QR code.

A blue check icon and the word "Verified" should appear in your company profile from now on.

:::info
If you already have an interoperable wallet and a credential for your business identity, you can jump directly to the step "Present" your credential to get verified. Be aware that, if the credential includes the details of your domain and you haven't validated it yet, we will probably be able to verify both at a time.
:::

## Verifications status

You can check the verification status of your workspaces at any time in the "Verifications" option of the left side menu of your workspace settings.
You don't need to take all the verifications at the same time, so you can come to this section to start each of them when you are ready.
